
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelper"
@model ExploreCailfornia.Models.Post
@{
    Layout = "_Layout";
}
<h1>Create Blog post</h1>
<fieldset>
    <form asp-action="Create" asp-controller="Blog">

     
     
        <div asp-ValidationSummary= "ModeOnly ="class=" "input-Validation-error"></div>
        <p>
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" placeholder="Blog post title"/>
            <span asp-validation-for="Title"></span>
           
            </p>
        <p>
            <label asp-for="Body"></label>
            <textarea asp-for="Body" class="form-control" placeholder="Blog post content"></textarea>
            <span asp-validation-for="Body"></span>

        </p>
        
            <button type="submit">create post</button>
        </p>
        </form>
    
    
}        </fieldset>
