@model ExploreCailfornia.Models.Post
@{
    Layout = "_Layout";
}
<articale class="blog-post">
    <h1>@Model.Title</h1>
    <div class="details">
        Posted <span>@Model.Posted</span> by <span>@Model.Author</span>
    </div>
    <divclass="content">
        @Model.Body
</articale>
