@{
    Layout = "_Layout";
}
<articale class="blog-post">
    <h1>@ViewBag.Title</h1>
    <div class="details">
        Posted <span>@ViewBag.Posted</span> by <span>@ViewBag.Author</span>
    </div>
    <divclass="content">
        @ViewBag.Body
</articale>
